{% extends 'mysite/base.html' %}
{% load static %}

{% block content %}
 <div class="container" style="margin-top: 100px">
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="{% static 'mysite/images/github.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">GitHub</h5>
                    <p class="card-text">GitHub es una forja para alojar proyectos utilizando el sistema de control de versiones Git.</p>
                    <p class="card-text">
                        <small class="text-muted">Plataforma de Desarrollo</small>
                    </p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static 'mysite/images/firefight.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">FireFight</h5>
                    <p class="card-text">Aplicación IOT para ayudar a los bomberos. Incluye seguimiento facial y detección de ambientes.</p>
                    <p class="card-text">
                        <small class="text-muted">Internet of Things</small>
                    </p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static 'mysite/images/kotlin.png' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Kotlin</h5>
                    <p class="card-text">Kotlin es un lenguaje de programación que fue creado desde el 2010.
                        Este gran lenguaje fue creado por la compañia de JetBrains</p>
                    <p class="card-text">
                        <small class="text-muted">Android Developement</small>
                    </p>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top" src="{% static 'mysite/images/firebase.jpg'%}" alt="Card Image cap">
                <div class="card-body">
                    <h5 class="card-title">Firebase</h5>
                    <p class="card-text">Firebase es una plataforma para el desarrollo de aplicaciones web y aplicaciones móviles
                        desarrollada por James Tamplin y Andrew Lee.</p>
                    <p class="card-text">
                        <small class="text-muted">Plataforma Firebase</small>
                    </p>
                </div>
            </div>

        </div>


 </div>


{% endblock %}